@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Font-size*/
/*Colours*/
/*Primary Colours*/
/*Accent Colours*/
/*Neutral Colours*/
body {
  font-size: 16px;
  background-color: #ff7a7a;
}

div {
  border: 0px solid #000;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-image: url(images/bg-intro-desktop.png);
}

.flex-container .form-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.flex-container .form-container .form-text, .flex-container .form-container .form-direction {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.flex-container .form-container .form-text {
  color: #fff;
}

.flex-container .form-container .form-text h1 {
  margin-left: 20%;
  font-weight: 700;
  margin-top: 40%;
}

.flex-container .form-container .form-text p {
  margin-left: 20%;
}

.flex-container .form-container .form-direction button {
  background-color: #6055a5;
  border-radius: 10px;
  color: #b9b6d3;
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20%;
  /* box-shadow: 5px 6px 25px #888888;*/
  -webkit-box-shadow: 5px 10px 28px -10px #888888;
          box-shadow: 5px 10px 28px -10px #888888;
  border: 1px solid #6055a5;
}

.flex-container .form-container .form-direction button p {
  color: #b9b6d3;
}

.flex-container .form-container .form-direction button p span {
  font-weight: 400;
  color: #fff;
}

.flex-container .form-container .form-direction .form {
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  min-height: 100px;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #fff;
  -webkit-box-shadow: 5px 10px 28px -10px #888888;
          box-shadow: 5px 10px 28px -10px #888888;
}

.flex-container .form-container .form-direction .form form input {
  display: block;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #b9b6d3;
}

.flex-container .form-container .form-direction .form form input[type="submit"] {
  background-color: #38cc8c;
  border-radius: 10px;
  color: #fff;
  width: 85%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #38cc8c;
}

.flex-container .form-container .form-direction .form form .errorcontainer {
  text-align: right;
  margin-top: 10px;
  margin-right: 40px;
  display: none;
}

.flex-container .form-container .form-direction .form form .errorcontainer span {
  color: #ff7a7a;
  font-size: 0.65rem;
  margin-right: 10px;
  font-weight: 500;
}

.flex-container .form-container .form-direction .form form .errorcontainer img {
  width: 4%;
}

.flex-container .form-container .form-direction .form p {
  font-size: 0.64rem;
  color: #b9b6d3;
  text-align: center;
  font-weight: 500;
}

.flex-container .form-container .form-direction .form p span {
  color: #ff7a7a;
  font-weight: 700;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .flex-container {
    background-image: url(images/bg-intro-mobile.png);
  }
  .flex-container .form-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .flex-container .form-container .form-text, .flex-container .form-container .form-direction {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .flex-container .form-container .form-text h1 {
    margin: 0;
    text-align: center;
    margin-top: 80px;
  }
  .flex-container .form-container .form-text p {
    margin: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */